.divMainDashboard{
    margin:"20px";
    display:"flex";
    flex-direction: column;
    background: aliceblue;
    
    
}
.divMainDashboardUserForm{
    flex:1;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;

}
.divMainDashboardUserRequests{
    flex:1;
    height:200px;
    overflow:auto;
}
.divMainDashboardMap{
    flex:0.50;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.cardUserRequestForm
{
    margin:"20px"
}

.divSubmitButton {
text-align: center;
margin-bottom: 20px;
}

.button {
    background: #009879; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .apiResponseMsg{
    text-align: center;
  }

  .divLogout{
    text-align: end;
    margin-right: 30px;
  }

  /* Tab Container */
.formsTab {
    width: 80%;
    height: auto;
    background: #053742;
    margin: 3.5rem auto 1.5rem;
    padding: 0.5px;
    color: #E8F0F2;
    border-radius: 2rem;
   }

   /* Tab Navigation */
ul.formsTabNavBar {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.formsTabNavBar li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.formsTabNavBar li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  ul.formsTabNavBar li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
  ul.formsTabNavBar li.active {
    background: #39A2DB;
  }